:root {
  --dark-green: #1b3022ff;
  --dark-slate-gray: #395756ff;
  --paynes-gray: #4f5d75ff;
  --ultra-violet: #7261a3ff;
  --african-violet: #a67db8ff;
}

body {
  background-color: var(--dark-green);
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.navbar {
  background-color: var(--dark-slate-gray);
}

.header {
  background: linear-gradient(45deg, #A67DB8, #47A8C7, #755882);
  color: white;
  padding: 50px 0;
  margin-bottom: 30px;
}

.header h1 {
  font-size: 3rem;
}

.header p {
  font-size: 1.25rem;
}
.decoration-img{
  visibility: hidden;
}
@media screen and (min-width:460px) {
  .decoration-img{
    visibility: visible;
    margin-left: auto;
    width: 10%;
    height: auto;
  }
}
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.search-form .form-control {
  width: 50%;
  margin-right: 10px;
}

.card-header {
  color: white;
  background-color: var(--dark-green);
}
.card-header-dark {
  color: white;
  background-color: var(--dark-green);
}
.card-header-light {
  color: var(--dark-green);
  background-color: white;
}
.white-text{
  color: white;
}
.dark-text{
  color: #000;
}
.img-box{
  width: 40%;
  height: auto;
  display: inline-block;
}
.media {
  border: 5px solid #000;
  padding: 10px;
  border-radius: 10px;
}
.content-box{
  background-color: var(--dark-green);
}
@media screen and (max-width:440px) {
  .fixed-content{
    visibility: hidden;
  }
}

@media screen and (min-width:770px) {
.fixed-content{
  visibility: visible;
  position: fixed;
  padding: auto;
  left: 75%;
  padding-right: 15%;
}
}
.badge {
  background-color: var(--ultra-violet);
}
.footer {
  color: aliceblue;
  margin-top: auto;
  padding: 20px 0;
  text-align: center;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.overlay-content {
  background: white;
  padding: 24px;
  border-radius: 8px;
  max-width: 80%;
  max-height: 80%;
  width: 55%;
  height: 55%;
  overflow-y: auto;
}

.dark-text {
  transition: color 0.3s ease;
}

.bg-dark {
  transition: background-color 0.3s ease;
}
.white-text {
  transition: color 0.3s ease;
}

.bg-white {
  transition: background-color 0.3s ease;
}

#content-keeper {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

#content-keeper.hidden {
  opacity: 0;
}
